 html, body, #mount, .app-container {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
  }

.app-container {
  display: flex;
  height: 100%;
}

.main-container {
  flex: 1;
}

.sidebar-container {
  background-color: #777;
  width: 100px;
}

.request-pane {
  border: 1px black solid;
  min-height: 50px;
  margin: 5px;
}




