 html, body {
    padding: 0;
    margin: 0;
  }

.app-container {
  display: flex;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-container {
  background-color: #DDD;
  width: 100px;
  min-height: 200px;
}

.request-pane {
  border: 1px black solid;
  min-height: 50px;
  margin: 5px;
}




