 html, body, #mount, .app-container {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
  }

.app-container {
  display: flex;
  height: 100%;
}

.main-container {
  flex: 1;
  margin-left: 76px;
}

