 html, body, #mount, .app-container {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
  }

.app-container {
  display: flex;
  height: 100%;
}

header {
  width: 100%;
  position: fixed;
  z-index: 500;
}

main {
  flex: 1;
  margin-left: 75px;
  margin-top: 32px;
}

