/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../../assets/roboto-latin-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
  margin: 0;
}

.app-container {
  display: flex;
}

header {
  width: 100%;
  position: fixed;
  z-index: 500;
}

main {
  flex: 1;
  margin-left: 75px;
  margin-top: 32px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

